# ignore mac files
*.swp
*~.nib

# ignore build files
build/

# ignore xcodeproj specific files
*.mode1v3
*.pbxuser
*.perspective
*.perspectivev3

# ignore compiled python files
*.pyc

# ignore custom configuration file
customCfg.py

# ignore scan directory
media/test_scan
